@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Atma:wght@300;400;500;600;700&family=Fira+Code:wght@300..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto+Slab:wght@100..900&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "../tailwind.config.js";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xs: 30rem;
  --font-display: "Roboto Slab", serif;
  --font-special: "Ancizar Sans", "sans-serif";
}

/* @layer base { */
/*   a { */
/*     color: var(--color-yellow-300); */
/**/
/*     @variant dark { */
/*       color: var(--color-yellow-800); */
/*     } */
/*   } */
/* } */

:root {
  font-family: "Roboto Serif", sans-serif;
  line-height: 1.0;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: "Ancizar Serif", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
